/* Mixings */

@mixin mobilescreen {
    @media (max-width: 578px) {
        @content;
    }
}

@mixin tabletscreen {
    @media (min-width: 579px) {
        @content;
    }
}

@mixin desktopscreen {
    @media (min-width: 981px) {
        @content;
    }
}

@mixin test {
    border: 1px solid red;
}

@mixin testcolored {
    background-color: pink;
}

/*
common things to copy:

    @include tabletscreen {
        background-color: green; 
    }
    @include desktopscreen {
        background-color: blue;
    }

*/
